*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;



}

body{
    background-image: url(background.jpg);
    background-color:#000000;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: contain;
   
}

