.About-container {
    margin-top: 90px;
    align-items: center;
}
.what-I-do h1{
    color: rgb(150, 3, 26);
    align-items:center;
    margin-left: 400px;
    margin-top: 250px;
    font-weight: 900;
    padding:0 2rem  ;

}
.what-I-do h3{
    margin-left: 530px;
}
.what-I-do h4{
    margin-left: 200px;
    justify-content:flex-end;
}

.skill-set{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    color: #000;
   
    
}
.HTML{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 2.5rem;
    height: 180px;
    width:180px;
    
    background-color:#691c28;
    margin: 1.5rem;
    border-radius: 0.5rem;
    
    

    
    
}
.skill{
    margin-left: 5px;
    margin-top: 35px;
    height: 50px;
    width: 50px;
}

.HTML h4{
    margin-top: 20px;
}