.contact-header{
    display:flex;
    flex-direction: column;
}
.contact-form{
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    height:380px;
    width:700px;
    margin-left: 300px;
    border: 2px solid #96031a;
}

.contact-title h1{
    font-weight: 700;
    color: #96031a;
    margin-top: 100px;
    margin-left: 430px;
}

.contact-subtitle{
    margin-left: 440px;
    margin-top: 20px;
    font-weight: 100;
}

.name{
    height:50px;
    width:500px;
    margin-top: 50px;
    background-color: rgb(50, 50 ,50);
    margin-left: 180px;
    align-items: center;
    border: 1px solid #96031a;
    font-size: small;
}

.email{
    height:50px;
    width:500px;
    margin-top: 20px;
    background-color: rgb(50, 50 ,50);
    margin-left: 180px;
    font-size: small;
    font-weight: 400;
    color: white;
    border: 1px solid #96031a;
    align-items: center;
}

.msg{
    height:100px;
    width:500px;
    margin-top: 30px;
    background-color: rgb(50, 50 ,50);
    text-align: left;
    margin-left: 180px;
    border: 1px solid #96031a;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.cimg{
    height: 200px;
    width: 400px;
    
    
    margin-left: 150px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: -80px;
}

.Contact-button{
    height:40px;
    width:150px;
    background-color: white;
    border-radius: 4rem;
    margin-left: 370px;
    margin-top: 20px;
    border: 2px solid #96031a;
    font-weight: 200;
}

.personal-accounts{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
    align-content: end;
    
}

.socialmedia{
    height:30px;
    width: 30px;
    margin-left: 580px;
    

}

.socialmedia-tele{
    height:30px;
    width:50px;
    margin-left: -3px;
    
    
}

.socialmedia-gmail{
    height :40px;
    width:40px;
    margin-left: 10px;
    margin-top: -4px;
    

}

.socialmedia-link{
    margin-left: 15px;
    height:30px;
    width: 30px;

}