.contact-header{
    display:flex;
    flex-direction: column;
    color:rgb(150, 3, 26);
    margin-top: 30px;
   
}
.contact-title{
    color: rgb(150, 3, 26);
    margin-top: 30px;
    margin-left: 400px;
    

}

.contact-subtitle{
    margin-left: 100px;
    margin-top: 90px;
    font-weight: 400;
    font-size: x-large;
}

.social-accounts{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    width: 900px;
    height: 350px;
    padding:50px;
    margin-left: 180px;
    margin-bottom: 20px;
    
}
.personal-accounts{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    
    
    
    
}
.socialll{
    display: flex;
    flex-direction: row;
    
}
.socialmedia{
    height:30px;
    width: 30px;
    margin-left: 100px;
    margin-top: 45px;
    
    

}
.insta-text{
    font-size: medium;
    margin-left: 10px;
    margin-top: 45px;
    font-style: oblique;
    color: #6a6e7e;
    text-decoration:underline;
}

.linkdin-text{
    font-size: medium;
    margin-left: 12px;
    margin-top: 10px;
    font-style: oblique;
    color:#6a6e7e;
    text-decoration:underline;

}

.Gmail-text{
    font-size: medium;
    margin-left: 11px;
    margin-top: 14px;
    font-style: oblique;
    color: #6a6e7e;
    text-decoration:underline;
}

.Tele-text{
    text-decoration:underline;
    font-size: medium;
    margin-left: 6px;
    margin-top: 10px;
    font-style: oblique;
    color: #6a6e7e;


}

.socialmedia-tele{
    height:30px;
    width:50px;
    margin-left: 90px;
    margin-top: 10px;
    
}

.socialmedia-gmail{
    height :40px;
    width:40px;
    margin-left: 96px;
    margin-top: -4px;
    margin-top: 10px;

}

.socialmedia-link{
    margin-left: 100px;
    height:30px;
    width: 30px;
    margin-top: 10px;
}

