.navbar-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.logo{
    
    margin-left: 130px;
    height: 120px;
    width:190px
}

.navbar-iteams{
    cursor: pointer;
    margin-top: 60px;
    gap:1rem;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    
   

}
.navbar-iteams-list:hover{
    color: #96031a;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #96031a;
}
.navbar-iteams-list{
    text-align: center;
    align-items: center;
    font-size: larger;
    margin-left: 20px;
}

.contact-button{
    margin-right: 150px;
    margin-top:60px ;
}

.navbar-button{
    height:30px;
    width:100px;
    border-radius: 999px;
    border-color: black;

}